@use './variables/variables.scss' as *;

.dropdown {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    cursor: pointer;
    border: none;
    background-color: $primary-color;
    width: 80%;
    height: 80px;
    border-radius: 5px;


    .dropdown-title {
      font-family: 'Montserrat', sans-serif;
      font-size: 24px;
      color: $secondary-color;
    }

    .chevron {
        transition: transform 0.4s ease;

        &.rotate {
              transform: rotate(-180deg);
            }
    }   
  }

  .dropdown-content {
    display: none;
    padding: 10px;
    background-color: $secondary-color;
    color: $primary-color;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
  }

  &.open .dropdown-content {
    display: flex;
    margin-top: -10px;
    width: 1503px;
    border-radius: 0px 0px 5px 5px;
  }
}