@use './variables/variables.scss' as *;

.error {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $primary-color;
    min-height: 100vh;
  
    .error-title {
        font-size: 280px;
        margin: 0;
    }
  
    .error-msg {
        font-size: 30px;
        font-weight: 500;
        margin-bottom: 100px;
    }
  
    .error-link {
        color: $primary-color;
        text-decoration: underline;
        font-size: 18px; 
    }
  }