@use './variables/variables.scss' as *;

.lodgings-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
    background-color: $secondary-color;
    padding: 50px;
    border-radius: 20px;
    margin: 0 40px 50px 40px;
}