@use './variables/variables.scss' as *;

.lodging-page {
    display: flex;
    flex-direction: column;

    .lodging-content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-left: 5%;
        margin-right: 5%;

        .lodging {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin-bottom: 30px;
            
            .title-location {
                display: flex;
                flex-direction: column;

                h1 {
                    font-family: 'Montserrat', sans-serif;
                    font-size: 30px;
                    color: $primary-color;
                    margin: 0;
                }

                h2 {
                    font-family: 'Montserrat', sans-serif;
                    font-size: 20px;
                    color: $primary-color;
                    margin-bottom: 25px;
                }
            }

            .tags {
                display: flex;
                flex-direction: row;
                gap: 20px;

                .tag {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-family: 'Montserrat', sans-serif;
                    font-size: 15px;
                    color: white;
                    background-color: $primary-color;
                    padding: 5px 10px;
                    border-radius: 10px;
                    width: 100px;
                    height: 30px;

                    @media screen and (max-width: 768px) {
                        width: 85px;
                        height: 25px;
                        font-size: 12px;
                    }
                }

                 @media screen and (max-width: 768px) {
                    gap: 10px;
                 }
            }
        }

        .host-infos {
            display: flex;
            flex-direction: column;

            .host {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                gap: 10px;

                
                h2 {
                    font-family: 'Montserrat', sans-serif;
                    font-size: 20px;
                    color: $primary-color;
                    font-weight: normal;
                    margin: 0;
                }

                .host-picture {
                    width: 65px;
                    height: 65px;
                    border-radius: 50%;
                    margin-right: 10px;
                }

                @media screen and (max-width: 768px) {
                    text-align: right;
                }
            }

            .rating {
                display: flex;
                justify-content: center;
                align-items: center;

                .star.empty {
                    filter: grayscale(100%);
                }
            }
            

            @media screen and (max-width: 768px) {
                flex-direction: row-reverse;
                justify-content: space-between;
                margin-bottom: 20px;
            }       
        }

        @media screen and (max-width: 768px) {
            flex-direction: column;
        }
        }

        .collapses {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-left: 5%;
            margin-right: 5%;

            .collapse {
                display: flex;
                flex-direction: column;
                width: 45%;
                justify-content: flex-start;

                button {
                    width: 100%;
                    height: 40px;
                }
                
                .content-parent {
                    height: 0px;
                    width: 100%;
                    overflow: hidden;
                    transition: height ease 0.3s;
                }
            }

            @media screen and (max-width: 768px) {
                flex-direction: column;

                .collapse {
                    width: 100%;
                }
            }
        }
    }