@use './variables/variables.scss' as *;

.slider {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 30px;
    position: relative;

    img {
        height: 415px;
        width: 90%;
        object-fit: cover;
        border-radius: 25px;
    }

    .slider-btn{
        display: flex;
        cursor: pointer;
        background-color: transparent;
        border: none;
        padding: 0;

        img {
            height: 80px;
            width: 50px;
        }

        &.left {
            position : absolute;
            left: 6%;
        }

        &.right {
            position : absolute;
            right: 6%;

            img {
                transform: rotate(180deg);
            }
        }
    }

    .slider-dots {
        position: absolute;
        color: white;
        font-size: 14px;
        left: 50%;
        bottom: 5%;
    }
    
}
